@{
    ViewData["Title"] = "Not Found";
}

<h2>Not Found</h2>

<p>The smartphone with the provided ID was not found.</p>

<a href="WEB452Assignments-DennisKontoulis-0798883\MVCAssignment\Views\Sample\Index.cshtml">Return to Smartphone list.</a>