@{
    ViewData["Title"] = "To Do List";

}

<h1>Add an item to Todo List</h1>

<form asp-action="Todolist" method="post">
    ID : <input type ="text" name="id" /><br>
    Title: <input type="text" name="title" /><br>
    Description: <input type="text" name="description" /><br>
    <input type="submit" value="Add Item">
    </form>

@if (ViewData["TodoItem"] != null)
{
    <h3>Added Item:</h3>
    @Html.Raw(ViewData["TodoItem"])
}