@model TodoItem;
using TodoItem

<form asp-action="Todolist" method="post">
    ID : <input type="text" name="id" /><br>
    Title: <input type="text" name="title" /><br>
    Description: <input type="text" name="description" /><br>
    <input type="submit" value="Add Item">
</form>

@if (Model != null) @* verifier so it tells us something got added *@
{
    <h3>Added Item:</h3>
    @Model.Title (@Model.Id) @Model.Description
};